/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: 'wght' var(--font-main-wght-p, 410);
  font-size: 18px;
  line-height: 21px;
  background-color: var(--main-color);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.blocks {
  inline-size: var(--block-width);
  border-inline: var(--border-width) var(--accent-color) solid;
  border-block: var(--border-width) var(--accent-color) solid;
  margin-inline: auto;
  background-color: var(--main-color);
}

.header {
  padding-inline: clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  font-family: var(--font-accent);
  text-align: center;
  margin-block: 98px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
  line-height: 100%;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

.article {
  margin-block-end: 50px;
}

.article__title {
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: 'wght' var(--font-main-wght-h, 715);
  padding-inline: 10px;
  padding-block: 6px;
  border-block-end: var(--border-width, 2px) solid var(--accent-color, #000);
}

.article__img-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.article__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.filter-sepia {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
}

.filter-saturate {
  filter: saturate(50%);
  -webkit-filter: saturate(50%);
}

.filter-hue {
  filter: hue-rotate(90deg);
  -webkit-filter: hue-rotate(90deg);
}

.filter-grayscale {
  filter: grayscale(20%);
  -webkit-filter: grayscale(20%);
}

.filter-blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.filter-contrast {
  filter: contrast(150%);
  -webkit-filter: contrast(150%);
}

.filter-brightness-grayscale {
  filter: brightness(50%) grayscale(20%);
  -webkit-filter: brightness(50%) grayscale(20%);
}

.article__label {
  position: absolute;
  font-size: 14px;
  font-family: var(--font-accent);
  line-height: 100%;
  opacity: 0.5;
  inset-block-start: 1.79em;
  inset-inline-end: 1.79em;
  z-index: 2;
  mix-blend-mode: hard-light; 
  text-shadow:
    -1px 0 var(--main-color, #fff),
    0 1px var(--main-color, #fff),
    1px 0 var(--main-color, #fff),
    0 -1px var(--main-color, #fff);
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .article__label {
    -webkit-text-stroke: 1px var(--main-color, #fff);
    text-stroke: 1px var(--main-color, #fff);
    text-shadow: none;
  }
}

.article__content {
  padding-inline: 1.44em;
  padding-block: 1.44em;
  border-block-start: var(--border-width, 2px) solid var(--accent-color, #000);
}

.article__content-description {
  margin-block-end: 1.39em;
}

.article__content-about {
  margin-block-end: 1.22em;
}

.article__buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  outline: var(--border-width, 2px) solid rgba(0, 0, 0, 0);
  outline-offset: -2.5px;
  transition: outline-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--border-width, 2px) solid var(--accent-color, #000);
}

/*Анимация иконки лайка*/
/*начало*/
.like-icon {
  width: 39px;
  height: 36px;
}

.heart {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .core {
  fill: var(--contour-color, #000);
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000);
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #f00);
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #f00);
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #f00);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: change-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}
/*конец анимации лайка*/

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 7.22em;
  block-size: 2.11em;
  background-color: transparent;
  border: var(--border-width, 2px) solid var(--accent-color, #000);
  cursor: pointer;
}

.button-save {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  block-size: 3.06em;
  border: var(--border-width, 2px) solid var(--accent-color, #000);
  margin-inline: auto;
  background-color: var(--main-color, #fff);
  color: var(--main-color, #fff);
  margin-block-end: 5.56em;
}

.button-save__icon {
  display: block;
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  z-index: 1;
}

@media (width <= 400px) {
  .article:first-of-type .article__title{
    padding-block: 5px;
    line-height: 21px;
  }

  .button-save {
    flex-direction: column;
    block-size: 84px;
  }

  .button-save__icon {
    width: 28px;
    height: 28px;
  }
}

.button__text {
  position: relative;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  color: var(--main-color, #fff);
  z-index: 1;
}

.dialog-save {
  display: none;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  block-size: 191px;
  border: var(--border-width, 2px) solid var(--accent-color, #000);
  padding-inline: 30px;
  padding-block: 30px;
}

.dialog-save[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-save[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.page:has(.dialog-save[open]) {
  overflow: hidden;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  display: block;
  width: 39px;
  height: 39px;
}

.dialog__content-text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  max-inline-size: 234px;
}

.button-ok {
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: clamp(16.3125rem, 15.6083rem + 3.0047vw, 18.3125rem);
  block-size: 38px;
  text-transform: uppercase;
  background-color: transparent;
  border: var(--border-width, 2px) solid var(--accent-color, #000);
}

.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.button::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color, #000);
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: translateX(0);
}
