/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter-Variable";
  --font-accent: "PressStart2P";
  --font-main-wght-p: 410;
  --font-main-wght-h: 715;
  --block-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --bg-gradient:
    repeating-linear-gradient(
      to right,
      rgba(211, 211, 211, 1) 0 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(211, 211, 211, 1) 0 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --main-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #f00;
  --border-width: 2px;
}
